.cart{
    background-color: lightgray;
    padding: 1em;
    color: rgb(41, 5, 65);
    border-radius: 10px;
}
.total-person{
    background-color:whitesmoke ;
    padding: 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.5);
    font-weight: bold;
}
.person-name{
    background-color: whitesmoke;
    padding: .5em 1em;
    box-shadow: 0 5px 12px 0 rgba(0,0,0,.5);
}