.shop-container{
    margin: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.person-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-right: 10px;
}